.formContainer {
    width: 100%;
    display: flex;

    .inputContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 42px;
        padding: 12px 20px;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(30, 32, 37, 0.1);

        .placeholder {
            display: flex;
            align-items: center;
            gap: 10px;
            position: absolute;
            font-size: 16px;
            color: #A7AFB7;
            cursor: text;
        }

        .searchButton{
            width: 48px;
            height: 48px;
            border: none;
            background: transparent;
            padding: 0;
            background-color: #007be9;
            border-radius: 100%;
            flex-shrink: 0;
        }
        .searchIcon{
            padding-top: 5px;
        }

        &:focus-within {
            box-shadow: 0 0 0 2px rgb(25, 118, 210) inset;
        }

        & > input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            &:focus {
                background-color: transparent;
            }
        }
    }
}
